@using UniversityAuthentication.Models
@model IEnumerable<Instructor>
@{
    ViewData["Title"] = "AllProfiles";
}

<h1>AllProfiles</h1>
<p><a class="btn btn-success" asp-action="AddProfile">Add an profile</a></p>

@if (Model.Count() < 1)
{
    <p>No instructor in the database yet</p>
}
else
{
    <h3>All Instructors</h3>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Profile Name</th>
                <th>Office Location</th>
                <th>User Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var instructor in Model)
            {
                <tr>
                    <td>@instructor.InstructorId</td>
                    <td>@instructor.InstructorName</td>
                    <td>@instructor.OfficeLocation</td>
                    <td>@instructor.InstructorUser</td>
                    <td>
                        <a class="btn btn-success" asp-controller="Instructor" asp-route-id="@instructor.InstructorId" asp-action="EditProfile">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
